body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: #111; /* Dark gray background */
}

canvas#glCanvas {
    display: block; /* Remove any default spacing */
    width: 100vw;   /* Full viewport width */
    height: 100vh;  /* Full viewport height */
}
